---
import Layout from '../components/Layout.astro';
---

<Layout title="Mansour Tarraf">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Mansour Tarraf</h1>
        <div class="logo">
          <img src="https://scontent.fcmn2-1.fna.fbcdn.net/v/t39.30808-6/354214717_104662232671572_8973212874672070805_n.jpg?_nc_cat=105&cb=99be929b-3346023f&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHGYIwbf_LQFAMFN-Q-ldY5_vVuguJ61vr-9W6C4nrW-uw9UX0kqWEVHO1juyRPiOs&_nc_ohc=LhXPLcmiMZsAX8M5LnW&_nc_ht=scontent.fcmn2-1.fna&oh=00_AfDkC77oPggO5d9fYhyBExqvOIwlgf-ofbCMSpgbwJB_pQ&oe=64CC8ED7" alt="Mansour tarraf">
        </div>
        <h1>
          COMING SOON!!!
        </h1>
        <div class="bttns">
          <a href="https://www.facebook.com/profile.php?id=100093833858341&mibextid=LQQJ4d" class="bttn primary">Visit Our Facebook</a>
        </div>
      </div>
    </div>
	</main>
</Layout>
